/*header*/

.header {
  display: grid;
  grid-template-columns: 1fr 138px 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 92px 50px;
  font-size: 18px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.header__links-list {
  display: flex;
  gap: 30px;
  list-style: circle;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item {
  text-decoration: underline;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo-image {
  display: flex;
  width: 148px;
  height: 105px;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  line-height: 24.3px;
  text-underline-position: under;
}

.address {
  font-style: normal;
}

/*cover*/
.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  padding: 168px 49px 50px;
  background: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 130px;
  color: #fff;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover .aligned-text_center {
  line-height: 100%;
  text-align: center;
}

.cover .aligned-text_right {
  z-index: 1;
  line-height: 100%;
  text-align: right;
}

.spacing-extended {
  letter-spacing: 60px;
}

.no-spacing {
  letter-spacing: 0;
}

.cover__description {
  z-index: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.cover__description-text {
  display: inline-block;
  justify-content: center;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 22px;
}

.cover__description .bet-button {
  width: 257px;
  height: 52px;
  margin-left: 78px;
  border-color: #fff;
  padding: 12px 32px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: normal;
  background-color: transparent;
  text-wrap: nowrap;
}

/*lots*/

.lots__heading {
  max-width: 1340px;
  margin: 0 50px;
  padding: 180px 40px 27px;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 1340px;
  margin: 0 50px;
  list-style-type: none;
}

.lots__card-list .card__text {
  z-index: 1;
  align-self: end;
  padding: 0 40px 50px;
  color: #fff;
  font-size: 20px;
  line-height: 120%;
}

.lots__card-list-item {
  position: relative;
}

.lots__card-list .card {
  display: grid;
}

.lots__card-list :is(.card__image, .card__title, .card__text) {
  grid-area: 1/2;
}

.card__title {
  z-index: 1;
  padding: 50px 40px 0;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.show__more__link {
  display: inline-block;
  margin: 30px 90px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

/*about*/

.about {
    margin-top: 152px;
}
.about__column {
  display: grid;
  grid-template-columns: 430px 1fr;
  grid-template-areas: "about__logo about__text";
  gap: 27px;
  margin: 0 50px;
}

.about__logo {
  display: grid;
  place-content: center;
  grid-area: about__logo;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  grid-area: about__logo-image;
  width: 148px;
  height: 114px;
}

.about__title {
  padding: 100px 0;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  grid-area: about__text;
}

.about__text p {
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.text__margin {
  margin-bottom: 26px;
}

/*footer*/
.footer-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "footer__address footer__menu-list footer__social-list";
  margin: 190px 50px 0;
  padding-bottom: 90px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  grid-area: footer__address;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-position: under;
}

.footer__menu-list {
  grid-area: "footer__menu-list";
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  list-style-type: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  grid-area: "footer__social-list";
  justify-content: flex-end;
  gap: 48px;
  list-style-type: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}
